doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MatchIT
div Witamy w API MatchIT!
p Przegl&aogon;daj u&zdot;ytkownik&oacute;w:

if usersInfo
  for user in usersInfo
    h3 !{user.name}, !{user.age} l.
    p !{user.desc}
    form(method="get" action='/send_to_queue/' + user_id)
      button(type="submit") Dodaj    

p
  a(href='/match') Show me my matches!
p
  a(href='send_to_queue') Send event to queue

