doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MatchIT
div Witamy w API MatchIT!
p
  a(href='/match') Show me my matches!
p
  a(href='send_to_queue') Send event to queue
