doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MatchIT
div Tu s&aogon; twoje matche!

if usersInfo
  for user in usersInfo
    h3 !{user.name}, !{user.age} l.
    p !{user.desc}